.info{
    background-color: white;
    color: rgb(43, 55, 226);
    font-size: 200%;
    font-style: italic;
    text-align: center;
    text-decoration: underline;    
}
.info1{
    margin: 20px;color: rgb(7, 7, 161);
    font-weight: 20px;
    font-size: 20px;
}
.mapa{
    margin: 20px;
    padding: 5%;
    max-width: 30%;
}