.main{
    display: flex;
    margin: 20px;
    background-color: white;    
    row-gap: 20px;
    max-width: 100%;
    box-sizing: content-box;
    padding: 12%;
     }
    @media (max-width:799px) {
       .main{
        align-items: center;
        justify-content: center;
       }

    }
    @media (min-width:800px) {
        .main{
            margin: 0%;
            box-sizing: content-box;
            align-items: center;
            justify-content: space-between;
        }
    }
    @media (min-width:1920px) {
        .main{
            margin: 10px;
            box-sizing: content-box;
            padding: 20px;
            align-items: center;
            justify-content: space-between;
        }
 }
 .main2{
    max-width: 100%;
    display: flex;
    background-color: white;    
    row-gap: 10px;
    max-width: 100%;
    box-sizing: content-box;
    justify-content: space-between;
 }
 .aside{
    max-width: 20%;
    margin-top: 50%;
 }
 .main3{ 
    background-color: white;    
    row-gap: 10px;
    max-width: 100%;
    row-gap: 10px;
 }
