.piepag{
    margin: 20px;
    background-color:rgba(153, 228, 203);
    font-size: 30px;
    color: white;
    max-width: 100%;
    box-sizing: content-box;
    max-height: 100%;
    
}
.pie2{
    background-color: green;
    align-items: flex-end;
}    
.barra{
    margin: 0%;
    background-color: aquamarine;
    padding: 10px;
}
.footer{
    justify-content: end;
}