.prod{
    margin-top: 50px;
    background-color: white;
    color: rgb(43, 55, 226);
    font-size: 200%;
    font-style: italic;
    text-align: center;
    text-decoration: underline;   
}
.oferta{
    margin-top: 50px;
    background-color: white;
    color: rgb(43, 55, 226);
    font-size: 200%;
    font-style: italic;
    text-align: center;
    text-decoration: underline;    
}